*{
    margin: 0;
    padding: 0;

}
html, body{
    height: 100%;

}
body{
    padding: 10px 80px 10px 80px;
}
h1{
    font-family: "Red Hat Display-Black", sans-serif;
    font-size: 20px;
}
p{
    font-family: "Raleway-Regular", sans-serif;
    font-size: 14px;
    margin: 20px 0px 20px 0px;
}
b{
    font-weight: 700;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
}
.header p{
    margin: 0;
    font-size: 14px;
}

.navigation {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
}
.nav_item{
    padding: 10px 15px 10px 15px;
    color: rgba(0, 0, 0, 0.6);
}
.nav_item:hover{
    cursor: pointer;
}
.button_item{
    background-color: #000000CC;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    font-size: 14px;
}
.button_item:hover{
    cursor: pointer;
    background-color: rgba(77, 77, 77, 0.8);
    color: #ffffff;
}

.main{
    flex: 1 1 auto;
    padding: 10px;
    color: rgba(0, 0, 0, 0.8);
}
.main p{
    font-family: "Raleway-Bold", sans-serif;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
}

.main li{
    font-family: "Raleway-Bold", sans-serif;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    margin-left: 30px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    left: 0; bottom: 0;
}
.smartForm label{
    color: rgba(0, 0, 0, 0.8);
    font-size: 48px;
    font-weight: 800;
    font-family: "Red Hat Display-Black", sans-serif;
    margin: 10px 0px 10px 0px;
}
.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.smartForm label{
    width: 80px;
}
.smartForm textarea{
    outline: none;
    margin: 10px;
    font-size: 20px;
    font-family: "Red Hat Display-Black", sans-serif;
    resize: none;
    border-radius: 10px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.8);
}

.smartForm textarea{
    width: calc(100% - 80px);
}

.smartForm textarea:invalid {
    border: 0px;
}

.smartForm textarea:valid {
    border: 0px;
}
@font-face {
    font-family: "Red Hat Display-Black";
    src: url("/assets/fonts/RedHatDisplay-Black.ttf") format("truetype");
    font-weight: 700;
    font-size: 20px;
}
@font-face {
    font-family: "Raleway-Bold";
    src: url("/assets/fonts/Raleway-Bold.ttf") format("truetype");
    font-weight: 400;
    font-size: 20px;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("/assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 700;
}
